@import '__settings/init';

.main-footer {
    background-color: $color--primary;

    padding: rem(68) 0 rem(54);

    @include media('>=md') {
        padding: rem(95) 0;
    }

    &__nav {
        ul {
            display: flex;
            flex-direction: column;

            @include media('>=md') {
                flex-direction: row;
            }

            li {
                text-align: center;

                a {
                    display: inline-block;

                    margin-bottom: rem(23);

                    @include font(16, 23);

                    font-weight: 400;

                    color: $color--dark;

                    text-decoration: underline;

                    &:hover {
                        opacity: .6;
                    }

                    @include media('>=md') {
                        padding: 0 rem(20);
                        margin-bottom: rem(0);
                    }
                }

                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    &__info {
        margin-top: rem(10);

        text-align: center;

        @include media('>=md') {
            margin-top: rem(14);

            text-align: left;
        }
    }

    &__copyright {
        display: inline-block;

        padding-right: rem(20);

        @include font(14, 20);

        font-weight: 400;

        color: $color--dark;
        text-transform: uppercase;
    }

    &__info-link {
        display: inline-block;

        a {
            display: inline-block;

            @include font(14, 20);
            font-weight: 700;

            color: $color--dark;

            &:hover {
                opacity: .6;
            }
        }
    }

    &__link-label {
        display: inline-block;

        padding-right: rem(7);

        @include font(14, 20);

        color: $color--dark;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: rem(25);
    }
}