@import '__settings/init';

.lively-neighborhood {
    background-color: $color--dark;
    color: $color--light;
    padding: rem(105) 0 rem(98);
    overflow: hidden;

    @include media('>=lg') {
        padding: 0 0 rem(98);
        position: relative;
    }

    &__wrapper {}

    &__top {
        @include media('>=lg') {
            width: 100%;
            max-width: $container-xxl;
            display: flex;
            margin: 0 auto;
        }

        &-image-wrapper {
            display: none;

            @include media('>=lg') {
                flex: 0 0 44vw;
                max-width: 44vw;
                display: block;

                &>div {
                    @include aspect-ratio(850, 574);
                }

                img {
                    @include object-fit-cover;
                }
            }
        }
    }

    &__header {
        padding: 0 rem(45) 0 rem(39);

        @include media('>=lg') {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 0 0 100%;
            max-width: 56vw;
            padding-top: rem(65);
            padding-bottom: rem(60);
        }


        @include media('>=xl') {
            max-width: calc(56vw - ((100vw - 1210px) / 2));

        }
    }

    &__title {
        color: $color--primary;
        @include header;
        margin-bottom: rem(30);

        @include media('>=lg') {
            margin-bottom: 10px;
            @include font(88, 80.5);
        }
    }

    &__text {
        @include font(17, 24.7);
        font-weight: 500;

        @include media('>=lg') {
            max-width: 410px;
        }
    }

    &__bottom {
        margin: rem(72) 0 0;

        @include media('>=lg') {
            width: 56vw;
            position: relative;
            margin: 0;
        }
    }

    &__splide {
        padding: 0;
    }

    &__image-wrapper {
        position: relative;
        @include aspect-ratio(430, 321);

        @include media('>=lg') {
            @include aspect-ratio(855, 480);
        }

        img {
            @include object-fit-cover;
        }
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: rem(30) 0 0;
        padding: 0 rem(38) 0 rem(39);

        @include media('>=lg') {
            padding: 0;
            margin-top: rem(18);
        }

        .splide__pagination {
            align-self: flex-end;
            margin-bottom: rem(5);
            gap: 0 rem(7);

            @include media('>=lg') {
                gap: 0 rem(10);
                margin-left: auto;
            }

            &__page {
                border-color: $color--primary;
                width: rem(7);
                height: rem(7);

                @include media('>=lg') {
                    width: rem(10);
                    height: rem(10);
                }

                &.is-active {
                    background-color: $color--primary;
                }
            }
        }
    }

    &__arrows {
        @include media('>=lg') {
            position: absolute;
            top: 50%;
            right: 0;
            width: 100%;
            transform: translate(82px, -35px);
            justify-content: flex-end;
        }

        .splide__arrow {
            width: rem(40);
            height: rem(40);

            &--prev {
                display: none;
            }

            @include media('>=lg') {
                width: rem(60);
                height: rem(60);
            }

            &:disabled {
                opacity: 0;
            }

            &--prev {
                visibility: hidden;
            }
        }
    }
}