@import '__settings/init';

.form__row {
    width: 100%;
    position: relative;
    text-align: left;

    &--accept {
        padding-left: rem(40);
        margin-top: rem(6);

        .wpcf7-list-item {
            margin: 0;
        }
        .wpcf7-form-control-wrap {
            position: static;

            .wpcf7-list-item-label {
                text-align: left;
                @include font(12, 17, 1);

                
                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    width: rem(20);
                    height: rem(20);
                    left: 0;
                    top: rem(2);
                    border: rem(2) solid $color--dark;
                }
            }

            input {
                position: absolute;
                left: 0;
                top: rem(2);
                z-index: 2;
                cursor: pointer;
                width: rem(20);
                height: rem(20);
                opacity: 0;

                &:checked + .wpcf7-list-item-label::after {
                    box-shadow: inset 0px 0px 0px rem(2) $color--secondary;
                    background-color: $color--dark;
                }
            }


        }
    }

    &--submit {
        margin-top: rem(15);
    }
}
.wpcf7-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: rem(16);
    @include font(18, 18, 0);
    font-weight: 400;
    color: $color--dark;

    p {
        margin: 0;
    }

    input {
        &:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
            height: rem(50);
            border: 1px solid transparent;
            padding: rem(5) rem(18);
            width: 100%;

            &.wpcf7-not-valid {
                border-color: #dc3232;

                &::placeholder {
                    color: #dc3232;
                }
            }
        }
    }
    textarea {
        height: 122px;
        resize: vertical;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 0;
        padding: rem(5) rem(18);

        &.wpcf7-not-valid {
            border-color: #dc3232;

            &::placeholder {
                color: #dc3232;
            }
        }
    }
}
.wpcf7-submit {
    min-width: 120px;
    padding: rem(19);
    @include font(14, 14, 1);
    font-weight: 700;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border: none;
    border-radius: rem(50);

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            background-color: inherit;
        }
    }
}

.wpcf7-not-valid-tip {
    position: absolute;
    font-size: 14px;
    left: 5px;
    transform: translateY(2px);
}

.wpcf7 form .wpcf7-response-output {
    margin: 0;
}
.wpcf7-spinner {
    position: absolute;
    left: rem(21);
    top: rem(13);
}