@import '__settings/init';
.splide {
	padding: 0 rem(50) rem(40);
	&__pagination__page {
		background: $color--dark;
		&.is-active {
			background: $color--primary;
		}
	}
	&__arrow--next {
		right: 0;
	}
	&__arrow--prev {
		left:0;
	}

	&__pagination {
		position: relative;
		left: unset;
		right: unset;
		bottom: unset;
		top: unset;
		flex: 0 0 auto;
		padding: 0;
		gap: 0 rem(10);

		&__page {
			margin: 0;
			background-color: transparent;
			border: 1px solid $color--2;
			width: rem(10);
			height: rem(10);
			cursor: pointer;

			&.is-active {
				background-color: $color--2;
				transform: scale(1);
				opacity: 1;
			}

			&:hover {
				background-color: $color--2;
			}
		}
	}

	&__arrows {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 0 1;
		gap: rem(33);
	}

	&__arrow {
		position: relative;
		left: unset;
		right: unset;
		bottom: unset;
		top: unset;
		transform: unset;
		background-color: transparent;
		padding: 0;
		opacity: 1;
		width: rem(60);
		height: rem(60);
		cursor: pointer;

		svg {
			width: 100%;
			height: 100%;
			transform: scaleX(1);
		}
	}
}