

// Mixin

@mixin roc-grotesk-compressed{
    font-family: "RocGroteskCompressed";
    font-weight: normal;
}

@mixin roc-grotesk-regular{
    font-family: "RocGroteskRegular";
    font-weight: normal;
}

@mixin roc-grotesk-bold{
    font-family: "RocGroteskBold";
    font-weight: normal;
}

@mixin roc-grotesk-extra-bold{
    font-family: "RocGroteskExtraBold";
    font-weight: normal;
}

@mixin roc-grotesk-light{
    font-family: "RocGroteskLight";
    font-weight: normal;
}

@mixin roc-grotesk-black{
    font-family: "RocGroteskBlack";
    font-weight: normal;
}

@mixin roc-grotesk-thin{
    font-family: "RocGroteskThin";
    font-weight: normal;
}

@mixin roc-grotesk-medium{
    font-family: "RocGroteskMedium";
    font-weight: normal;
}

@mixin roc-grotesk-heavy{
    font-family: "RocGroteskHeavy";
    font-weight: normal;
}

@mixin roc-grotesk-extra-light{
    font-family: "RocGroteskExtraLight";
    font-weight: normal;
}
