@import '__settings/init';

.project {
    background-color: $color--dark;
    color: $color--light;
    padding: rem(50) 0 rem(80);
    overflow: hidden;

    @include media('>=lg') {
        padding: rem(56) 0 rem(43);
    }

    .container {
        padding: 0;
    }

    &__header {
        padding: 0 rem(38);
    }

    &__content {
        margin: rem(38) 0 0;
        @include media('>=lg') {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin-top: rem(47);
        }

        &--text {
            @include media('>=lg') {
                flex: 0 0 auto;
                max-width: rem(450);
                padding-left: rem(11);
            }
        }
    }

    &__title {
        color: $color--primary;
        @include header;
        margin: 0;

        &--upper {
            @include header-upper;
        }
    }
    &__media {

        position: relative;
        overflow: hidden;
        padding: 0 rem(8);
        width: calc(100% - rem(20));
        left: rem(10);

        &--image {
            @include media('>=lg') {
                flex: 0 0 auto;
                max-width: calc(100% - rem(500));
            }
        }

        &--vimeo {

            position: relative;

            & > div {
                position: relative;
                padding-bottom: 56.25%;
                overflow: hidden;
                max-width: 100%;
                height: auto;
            }

            @include media('>=lg') {
                flex: 0 0 50%;
                max-width: rem(712);
            }

            @include media('>=xxl') {
                flex: 0 0 rem(712);
                transform: translate(rem(53), rem(-7));
            }

            iframe {
                @include object-fit-cover;
            }

            .project__media--player {
                path {
                    transition: fill 0.3s ease;
                }
            }

            &:hover {
                .project__media--player {
                    path {
                        fill: $color--primary;
                    }
                }
            }
        }

        &--player {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
    &__text {
        @include font(17.6, 28);
        font-weight: 500;
        padding: 0 rem(29);
        margin-top: rem(39);

        @include media('>=lg') {
            margin-top: 0;
            padding-right: 0;
            @include line-height(20, 29);
        }

        p {
            margin-bottom: rem(6);

            @include media('>=lg') {
                margin-bottom: rem(21);
                @include font(17, 24.7);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }


    }
    &__button {
            margin-top: rem(40);
            padding: 0 rem(29);

            @include media('>=lg') {
                margin-top: rem(35);
            }
    }
}