@import '__settings/init';

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    display: none;
    padding: rem(22);

    @include media('>=md') {
        padding: rem(44);
    }

    &.is-active {
        display: flex;
    }

    &__close {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        transform: translate(rem(20), rem(-20));
        background-color: transparent;
        border: 1px solid currentColor;
        border-radius: 50%;
        width: rem(48);
        height: rem(48);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s 0.4s ease-in-out, visibility 0.2s 0.4s ease-in-out;
        color: $color--dark;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        transform: translateY(rem(200));
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

        iframe {
            width: 100%;
            height: 100%;
        }

        &--form {
            position: relative;
            background-color: $color--light;
            width: calc(100% - rem(30));
            max-width: rem(1204);
            height: auto;
            padding: rem(40);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: rem(45);
            max-height: 90vh;
            overflow: auto;

            @include media('>=md') {
                padding: rem(60);
            }

            @include media('>=lg') {
                padding: rem(80);
            }

            @include media('>=xxl') {
                padding: rem(140) rem(164) rem(200) rem(172);
            }

            .modal {
                &__close {
                    top: 0;
                    right: 0;
                    border: none;
                    transform: unset;

                    @include media('>=sm') {
                        top: rem(20);
                        right: rem(20);
                        border-radius: 0;
                        padding: 0;
                    }

                    @include media('>=xxl') {
                        top: 12%;
                        right: 11%;
                        transform: translate(-7px, -6px);
                    }
                }
                &__header {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                &__title {
                    font-family: $font-alt;
                    color: $color--primary;
                    @include font(60, 60, -0.6);
                    font-weight: 400;
                    margin: 0;

                    @include media('>=lg') {
                        @include font(100, 100, -1);
                    }
                }
                &__form {
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: center;

                    @include media('>=sm') {
                        flex: 0 0 auto;
                        max-width: calc(100% - rem(195));
                    }

                    @include media('>=650px') {
                        max-width: calc(100% - rem(246));
                    }

                    @include media('>=lg') {
                        max-width: calc(100% - rem(346));
                    }

                    @include media('>=xxl') {
                        max-width: rem(508);
                    }
                }
                &__wrapper {
                    &--image {
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: center;


                        @include media('>=sm') {
                            flex: 0 0 auto;
                            max-width: rem(150);
                        }

                        @include media('>=650px') {
                            max-width: rem(201);
                        }

                        @include media('>=lg') {
                            max-width: rem(301);
                        }
                    }
                }
            }

        }
    }

    .wpcf7-form {
        gap: rem(24);
    }

    .form__row {
        &--accept {
            margin-top: rem(15);

            .wpcf7-form-control-wrap {
                .wpcf7-list-item-label {

                    @include media('>=650px') {
                        @include font(18, 18, 1);
                    }

                    &::after {
                        border-color: $color--primary;;
                    }
                }
                input {
                    &:checked + .wpcf7-list-item-label::after {
                        box-shadow: inset 0px 0px 0px rem(2) $color--light;
                        background-color: $color--primary;
                    }
                }
            }
        }

        textarea {
            height: 100px;
        }
    }

    .wpcf7-submit {
        background-color: $color--secondary;
        color: $color--light;
        min-width: 230px;

        &:disabled {
            &:hover {
                background-color: $color--secondary;
            }
        }

        &:hover {
            background-color: $color--primary;
        }
    }

    .wpcf7-spinner {
        left: rem(76);
    }

    &.show {
        .modal__wrapper {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        .modal__close {
            opacity: 1;
            visibility: visible;
        }
    }
}