@import '__settings/init';

$animation_hide: .20s;
$animation_opacity: .25s;
$animation_easing: cubic-bezier(0.33, 1, 0.68, 1);

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: $color--primary;
    z-index: 1001;

    .loaded & {
        display: block;
        background-color: transparent;
        pointer-events: none;
        transition: background-color $animation_hide;
    }
}

.preloader__animation {
    width: auto;
    max-width: rem(900);

    .loaded & {
        transition: opacity $animation_opacity $animation_easing $animation_hide;
        opacity: 0;
    }
}

.main-logo {
    display: inline-block;
    color: $color--primary;

}