@import "__settings/init";

.optimisation-modernisation {
	background-color: $color--1;
	padding: rem(63) 0 rem(72);
	overflow: hidden;

	@include media(">=lg") {
		padding: rem(43) 0 rem(44);
	}

	.container {
		padding: 0;

		@include media(">=lg") {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__header {
		padding: 0 rem(34);

		@include media(">=lg") {
			flex: 0 0 auto;
			max-width: 50%;
		}
	}

	&__title {
		@include header;
		color: $color--2;
		margin: 0;
		padding-right: rem(20);

		@include media(">=lg") {
			@include font(144, 110, -2);
			padding-right: rem(12);
			margin-bottom: rem(10);

			.animation {
				padding-top: rem(10);
				padding-bottom: rem(10);
				margin-top: rem(-10);
			}
		}

		&--upper {
			@include header-upper;
			color: $color--primary;
			margin-bottom: rem(24);

			@include media(">=lg") {
				margin-bottom: rem(52);
			}
		}
	}

	&__content {
		padding: 0 rem(34);
		margin-top: rem(47);

		@include media(">=lg") {
			flex: 0 0 auto;
			max-width: 50%;
			padding-left: 0;
			transform: translateX(rem(-23));
		}
	}
	&__image-wrapper {
		width: 100%;
		position: relative;
		overflow: hidden;
		max-height: rem(450);
		@include aspect-ratio(409, 291);

		@include media(">=lg") {
			@include aspect-ratio(1176, 560);
			max-height: rem(560);
		}

		img {
			@include object-fit-cover;
		}
	}
	&__button {
		margin: rem(32) 0 0;
	}
	&__text {
		@include paragraph;
		@include line-height(20, 29);

		@include media(">=lg") {
			@include line-height(20, 24);
			padding-right: rem(30);
		}

		@include media(">=xxl") {
			padding-right: rem(90);
		}

		p {
			margin-bottom: rem(27);

			@include media(">=lg") {
				margin-bottom: rem(32);
			}

			&:last-child {
				margin-bottom: 0;
			}

			& + .optimisation-modernisation__list {
				margin-top: rem(-16);
			}
		}
	}

	&__row {
		display: flex;
		flex-direction: column;
		gap: rem(0) rem(57);

		@include media(">=md") {
			flex-wrap: wrap;
			flex-direction: row;
			gap: rem(30) rem(57);
		}

		ul {
			padding-left: rem(30);
			margin-bottom: 0;

			li {
				margin-bottom: rem(4);

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__splide {
		padding: 0;
		margin: rem(84) 0 0;

		@include media(">=lg") {
			flex: 0 0 100%;
			max-width: 100%;
			padding-right: rem(12);
			margin-top: rem(63);
		}
	}

	// &__track {
	//     transform: translateX(rem(22));
	// }

	&__control {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: rem(33);
		padding: 0 rem(42) 0 rem(22);

		@include media(">=lg") {
			padding-right: 0;
		}
	}
}
