@import '__settings/init';

.contact {
    background-color: $color--secondary;
    padding: rem(44) rem(21);
    color: $color--dark;
    overflow: hidden;

    @include media('>=lg') {
        padding-left: 0;
        padding-right: 0;
    }

    @include media('>=xxl') {
        padding-top: rem(121);
        padding-bottom: rem(87);
    }

    .container {
        @include media('>=lg') {
            display: flex;
            justify-content: space-between;
            padding: 0 rem(22);
        }
    }

    &__data {
        @include media('>=lg') {
            flex: 0 0 auto;
            max-width: 50%;
        }

        @include media('>=xxl') {
            max-width: calc(100% - 538px);
        }
    }
    &__header {
        margin-bottom: rem(41);

        @include media('>=lg') {
            margin-bottom: rem(105);
        }
    }
    &__title {
        @include header;
        margin: 0;
        color: $color--light;

        @include media('>=330px') {
            @include line-height(80, 72);
        }

        @include media('>=xxl') {
            @include font(100, 87, -1);
        }

        &--upper {
            @include header-upper;
            margin-bottom: rem(4);
        }

    }
    &__person {
        @include media('>=sm') {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: rem(42);
        }
    }
    &__logo {
        margin-bottom: rem(45);
    }
    &__image {
        margin-bottom: rem(13);
    }
    &__name {
        font-weight: 500;
        @include font(18, 25);
    }
    &__function {
        @include font(14, 20);
    }
    &__hidden {
        &--data {
            margin-top: rem(24);
        }
        &--wrapper {
            height: 0;
            overflow: hidden;
            will-change: height;
            transition: height 0.2s ease-in-out;
        }
        &--inner {
            display: grid;
            gap: rem(6);
        }
        &--link a, &--text {
            text-decoration: none;
            color: $color--dark;
            @include font(16, 22);
            font-weight: 500;
        }
    }

    &__form {
        margin-top: rem(62);

        @include media('>=lg') {
            flex: 0 0 auto;
            max-width: 50%;
        }

        @include media('>=xxl') {
            max-width: rem(508);
            margin-top: rem(157);
        }
    }
}