@import '__settings/init';

// Buttons styles
.wp-block-buttons {
	margin: rem(40) auto;
	&.aligncenter {
		justify-content: center;
	}
}

.wp-block-button {
	&__link {
		min-width: 150px;

		color: #FFF;

		background: $color--link;

		&:hover, &:focus {
			color: #FFF;

			opacity: .8;
		}
	}
	.wp-block-button__link {
		padding: rem(19);
		@include font(14, 14, 1);
		font-weight: 700;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(10);
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

		path {
			transition: fill 0.2s ease-in-out,
		}

		&:hover {
			background-color: $color--secondary;
			opacity: 1;
		}
	}
	&.is-style-outline {
		.wp-block-button__link {
			color: currentColor;

			border-color: $color--link;
		}
	}

	&.wp-block-button--orange {
		.wp-block-button__link {
			background-color: $color--primary;
			color: $color--light;
			text-transform: uppercase;

			&:hover {
				background-color: $color--2;

				path {
					fill: $color--light;
				}
			}
		}
	}

	&.wp-block-button--green {
		.wp-block-button__link {
			background-color: $color--secondary;
			color: $color--light;
			text-transform: uppercase;

			&:hover {
				background-color: $color--primary;

				path {
					fill: $color--light;
				}
			}
		}
	}

	&.wp-block-button--gray {
		.wp-block-button__link {
			background-color: $color--dark;
			color: $color--light;
			text-transform: uppercase;

			&:hover {
				background-color: $color--light;
				color: $color--dark;

				path {
					fill: $color--dark;
				}
			}
		}
	}

	&.wp-block-button--beige {
		.wp-block-button__link {
			background-color: $color--light;
			color: $color--dark;
			text-transform: uppercase;

			&:hover {
				background-color: $color--dark;
				color: $color--light;

				path {
					fill: $color--light;
				}
			}
		}
	}
}
