@import '__settings/init';

.floorplan {
    padding: rem(77) 0 rem(88);
    color: $color--light;
    background-color: $color--dark;

    @include media('>=md') {
        padding: rem(67) 0 rem(50);
    }

    &__header {
        margin-bottom: rem(77);
    }

    &__section-sub-title {
        font-family: $font-base;
        @include font(14, 20);
        font-weight: 400;

        color: $color--light;

    }

    &__section-title {
        font-family: $font-alt;
        @include font(80, 77);
        font-weight: 400;
        color: $color--primary;
        letter-spacing: -0.01em;

        @include media('>=md') {
            @include font(120, 110);
            margin-bottom: 0;
        }
    }

    // Tabs

    &__tab-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: rem(0) 0 rem(77) 0;


        @include media('>=md') {
            padding-top: rem(100);
        }
    }

    &__tab-image-tax {
        display: none;

        &.show {
            display: inline-block;
        }

    }

    &__tab-image--default {
        display: none;


        &.show {
            display: inline-block;
        }
    }

    &__tab-box {
        display: flex;
        margin-bottom: rem(50);
        gap: rem(10);
    }

    &__tab-btn {
        display: inline-block;
        padding: rem(4) rem(10) rem(1);

        font-family: $font-base;
        @include font(18, 27);
        font-weight: 500;
        text-transform: uppercase;

        background: none;
        border: rem(1) solid $color--light;

        color: $color--light;

        &.active {
            border-color: $color--primary;
            background-color: $color--primary;
        }
    }

    &__tab-btn--all {
        background-color: $color--light;
        border: rem(1) solid $color--light;
        color: $color--dark;

        &.active {
            background-color: $color--light;
            border: rem(1) solid $color--light;
        }
    }

    &__tab-content {
        display: none;

        &.active {
            display: table-header-group;


            &:not(.floorplan__tab-content--all) {
                td {
                    &.floorplan__term-name {
                        background: $color--primary;
                    }
                }
            }
        }
    }

    &__open-floorplan {
        display: inline-block;
        width: rem(22);

        color: $color--light;

        &:hover, &:focus {
            color: $color--primary;
        }
    }

    th,
    td {
        border: rem(1) solid $color--light;
    }

    &__term-name {
        width: rem(143);
    }

    table {
        width: 100%;
        margin: 0 auto rem(38) auto;
        display: inline-block;
        border-spacing: 0;
    }

    th,
    td {
        padding: rem(5) rem(10);
        border-top-width: 0;
        border-left-width: 0;
        @include font(15, 15);
        font-weight: 500;
    }

    th {
        position: sticky;
        top: 0;
        vertical-align: bottom;
        border-top-width: rem(1);
        @include font(18, 26);
        font-weight: 400;

        &.border-bottom {
            border-top-width: 0;
            border-right-width: 0;
        }

        &.floorplan__term-name {
            border-top-width: 0;
            position: relative;

            span {
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: rem(10);

                font-family: $font-alt;
                @include font(59, 85);
                letter-spacing: -0.01em;
            }
        }
    }

    td {
        &.floorplan__term-name {
            @media (any-hover: hover) {
                &:hover {
                    background: $color--primary;
                }
            }

        }
    }

    tr:last-child td {
        border-bottom-width: 0;
    }

    &__table {
        max-width: 100%;
        padding-top: rem(45);
        overflow-x: scroll;

        @include media('>=md') {
            overflow-x: hidden;
        }

    }

    .cell-2,
    .cell-3,
    .cell-4 {
        width: rem(105);
        text-align: right;
    }

    .cell-5 {
        width: rem(74);
        text-align: right;
    }
}

/*---------------------------
    Floorplan Single
---------------------------*/

.floorplan-single {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
    color: $color--dark;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;

    &.active {
        display: block;
    }

    .container {
        display: flex;
        align-items: center;
        min-height: 100%;
    }

    &__content {
        position: relative;
        margin: rem(22) auto;
        padding: rem(65) rem(52);
        background-color: $color--light;
        width: 100%;

        @include media('>=md') {
            margin: rem(44) auto;
            padding: rem(105) rem(57) rem(212) rem(122);
        }
    }

    .js--floorplan-single-content {
        & > .row {
            padding-right: rem(77);
        }
    }

    &__close {
        position: absolute;
        z-index: 2;
        top: rem(47);
        right: rem(51);
        transform: translate(rem(20), rem(-20));
        background-color: transparent;
        border: none;
        border-radius: 50%;
        width: rem(48);
        height: rem(48);
        transition: opacity 0.2s 0.4s ease-in-out, visibility 0.2s 0.4s ease-in-out;
    }

    &:not(.loading) {
        .floorplan-single__loader {
            display: none;
        }
    }

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-family: $font-alt;
        color: $color--primary;
        letter-spacing: -0.01em;
        @include font(100, 100);
        font-weight: 400;
        word-spacing: rem(11);
    }

    &__subtitle {
        font-family: $font-alt;
        color: $color--primary;
        @include font(47, 50);
        font-weight: 400;
    }

    &__label {
        margin-bottom: rem(4);
        @include font(18, 26);
        font-weight: 700;
    }

    &__options {
        &-wraper {
            gap: rem(24);
            display: flex;
            flex-wrap: wrap;
        }
        &-item {
            @include font(16, 23);
            font-weight: 400;
        }
    }

    &__list {
        margin: rem(52) 0 0 0;
        padding-left: 0;
        list-style: none;
    }

    &__list-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include font(14, 20);
        font-weight: 400;
        margin-bottom: rem(10);

        &:last-child {
            margin-bottom: 0;
        }

        button {
            background: transparent;
            padding: 0;
            border: 0;
            cursor: pointer;
            color: currentColor;

            display: flex;
            align-items: center;
        }
    }

    &__list-check {
        display: inline-block;
        width: rem(12);
        height: rem(12);
        margin-right: rem(10);
        border: rem(1) solid $color--dark;
        border-radius: 50%;
        line-height: .8;
    }

    &__thumbnail {
        margin-top: rem(60);
        display: flex;
        justify-content: center;
        margin-inline: rem(-30);

        @include media('>=lg') {
            margin: 0;
        }
    }

    &__options {
        margin: rem(58) 0 0 0;
    }

    &__option {
        display: none;

        &.active {
            display: flex;
        }
    }

    &__legend {
        display: flex;
        flex-wrap: wrap;
        margin: rem(55) 0 0;
        gap: rem(40);
        padding: 0;

        @include font(14, 20);

        @include media('>=lg') {
            margin-top: rem(115);
            justify-content: flex-end;
        }

        &-item {
            display: flex;
            align-items: center;
        }

        &-color {
            display: block;
            min-width: rem(20);
            height: rem(20);
            margin-right: rem(10);
        }
    }
}