@import '__settings/init';

.business {
   overflow: hidden;
   &__wrapper {

      &.spacing-top {
         padding-top: rem(55);

      }
      &.spacing-bottom {
         padding-bottom: rem(97);

         @include media('>=md') {
            padding-bottom: rem(159);
         }
      }

      &--wide {
         &:not(.spacing-bottom ) {
            @include media('>=xxl') {
               padding-bottom: rem(47);
            }
         }

         .business {
            &__title {
               letter-spacing: rem(-0.8);
               flex: 0 0 calc(50% + rem(9));
               max-width: calc(50% + rem(9));
               padding-right: rem(27);

               @include media('>=md') {
                  flex: 0 0 40%;
                  max-width: 40%;
                  @include letter-spacing(250, -2.8);
                  text-align: center;
               }

               @include media('>=xl') {
                  @include font(180, 180);
                  flex: 0 0 50vw;
                  max-width: 50vw;
               }


               @include media('>=xxl') {
                  text-align: right;
                  transform: translate(rem(-38), rem(78));
                  @include letter-spacing(250, -2.8);
                  @include font(180, 250);
                  flex: 0 0 40%;
                  max-width: 40%;
               }

               &--text {
                  @include media('>=xxl') {
                     margin-bottom: rem(15);
                  }
               }
            }
            &__content {
               @include media('>=xxl') {
                  flex-wrap: nowrap;
                  width: 100%;
               }
            }
            &__image-wrapper {
               &--right {
                  flex: 0 0 calc(50% - rem(9));
                  max-width: calc(50% - rem(9));

                  & > div {
                     @include media('>=430px') {
                        @include aspect-ratio(206, 262);
                     }

                     @include media('>=md') {
                        @include aspect-ratio(878, 438);
                     }
                  }

                  @include media('>=md') {
                     max-height: rem(438);

                     flex: 0 0 50%;
                     max-width: 50%;
                  }

                  @include media('>=lg') {
                     flex: 0 0 50vw;
                     max-width: 50vw;
                  }

                  @include media('>=xxl') {
                     max-height: rem(438);

                     flex: 0 0 calc(50vw + rem(122));
                     max-width: calc(50vw + rem(122));
                  }

               }
               &--left {
                  flex: 0 0 calc(50% + rem(9));
                  max-width: calc(50% + rem(9));

                  & > div {
                     @include media('>=430px') {
                        @include aspect-ratio(224, 232);
                     }

                     @include media('>=md') {
                        @include aspect-ratio(634, 374);
                     }

                     @include media('>=xxl') {
                        min-height: rem(374);
                     }
                  }


                  @include media('>=md') {
                     flex: 0 0 50%;
                     max-width: 50%;
                     margin-left: 0;
                  }

                  @include media('>=xl') {
                     flex: 0 0 50vw;
                     max-width: 50vw;
                     margin-left: calc((50vw - 50%) * -1);
                  }

                  @include media('>=xxl') {
                     flex: 0 0 calc(50% - rem(122));
                     max-width: calc(50% - rem(122));
                     max-height: rem(374);
                     margin-left: 0;
                  }
               }
            }
            &__text {
               flex: 0 0 auto;
               padding: rem(40) rem(33) rem(33);

               @include media('>=lg') {
                  flex: auto;
                  align-self: flex-end;
               }

               @include media('>=xxl') {
                  padding: rem(100) 0 0 rem(72);
                  flex: 0 0 calc(50vw + rem(122));
                  max-width: calc(50vw + rem(122));
               }
            }
            &__description {
               @include media('>=md') {
                  @include paragraph;
               }
               @include media('>=xxl') {
                  max-width: rem(570);
               }
            }
            &__header {
               @include media('>=md') {
                  align-items: center;
               }
               @include media('>=xl') {
                  justify-content: center;
               }
               @include media('>=xxl') {
                  justify-content: space-between;
               }
            }

         }
      }

   }
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media('>=md') {
         width: $container-xxl;
         max-width: 100%;
         margin-left: auto;
         margin-right: auto;
         align-items: flex-end;
      }

   }
   &__title {
      font-family: $font-alt;
      @include font(60, 84);
      font-weight: 400;
      margin: 0;
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;

      @include media('>=330px') {
         @include font(80, 104);
      }

      @include media('>=sm') {
         @include font(100, 130);
      }

      @include media('>=md') {
         @include font(170, 160);
      }

      @include media('>=xl') {
         @include font(180, 250);
         transform: translate(rem(33), rem(62));
         text-align: right;
         padding-right: rem(70);
      }

      &--text {
         font-family: $font-alt;
         @include font(60, 55, -0.8);
         font-weight: 400;
         margin-bottom: rem(20);

         @include media('>=330px') {
            @include font(80, 77, -0.8);
         }

         @include media('>=xxl') {
            @include font(88, 80.08, -1.1);
            margin-bottom: rem(33);
         }
      }

   }
   &__image-wrapper {
      flex: 0 0 50%;
      max-width: 50%;

      @include media('>=430px') {
         position: relative;
         overflow: hidden;
      }

      @include media('>=md') {
         flex: 0 0 50vw;
         max-width: 50vw;
      }

      img {
         @include media('>=430px') {
            @include object-fit-cover;
         }
      }

      &--right {
         text-align: right;

         & > div {
            @include media('>=430px') {
               @include aspect-ratio(211, 206);
            }

            @include media('>=md') {
               @include aspect-ratio(762, 309);
            }
         }
      }
      &--left {
         text-align: left;

         & > div {
            @include media('>=430px') {
               @include aspect-ratio(219, 214);
            }

            @include media('>=md') {
               @include aspect-ratio(560, 396);
            }
         }

         @include media('>=md') {
            flex: 0 0 50%;
            max-width: 50%;
         }

         @include media('>=xl') {
            flex: 0 0 rem(560);
            margin-left: rem(45);
         }
      }
   }
   &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      @include media('>=md') {
         width: $container-xxl;
         max-width: 100%;
         margin-left: auto;
         margin-right: auto;
      }

      @include media('>=lg') {
         flex-wrap: nowrap;
      }
   }
   &__text {
      flex: 0 0 rem(345);
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: rem(36) rem(15) rem(60);

      @include media('>=sm') {
         flex: 0 0 rem(545);
      }

      @include media('>=md') {
         padding: rem(70) rem(25) rem(35) rem(35);
      }
   }
   &__upper-title {
      margin-bottom: rem(12);

      @include media('>=xxl') {
         @include font(14, 20);
         margin-bottom: rem(14)
      }
   }
   &__description {
      @include paragraph;

      @include media('>=md') {
         @include font(24, 35);
      }
      @include media('>=xxl') {
         transform: translate(0px, rem(-7));
      }
   }
}