@import '__settings/init';

.hero {
    background-color: $color--primary;
    color: $color--light;
    padding-bottom: rem(49);
    overflow: hidden;

    @include media('>=md') {

        padding-bottom: 0;
    }

    &__wrapper {

    }
    &__top {
        @include media('>=md') {
            max-width: 63%;
        }
    }
    &__middle {
        display: flex;
        justify-content: space-between;

        &--big-title {
            .hero {
                &__content {
                    @include media('>=md') {
                        padding: rem(53) rem(89) rem(81) rem(70);
                    }
                }
            }
        }
    }
    &__bottom {
        @include media('>=md') {
            display: flex;
            justify-content: space-between;
        }
        .wp-block-button {
            text-align: center;
            margin-top: rem(59);
            margin-bottom: rem(39);

            @include media('>=md') {
                display: flex;
                align-items: center;
                margin: 0 auto;
                padding: rem(20);
            }
        }
    }
    &__img {
        position: relative;
        overflow: hidden;

        .img__wrapper  {
            position: relative;
            overflow: hidden;
        }

        &--top {

            .img__wrapper {
                &--mobile {
                    max-width: 66%;

                    & > div {
                        @include aspect-ratio(281, 166);
                    }
                }
                &--desktop {
                    @include media('>=md') {
                        width: 565px;
                        max-width: 100%;
                        margin-left: auto;

                        & > div {
                            @include aspect-ratio(565, 276);
                        }
                    }
                }
            }
        }

        &--middle {
            flex: 0 0 auto;
            width: 34%;

            @include media('>=md') {
                width: 37%;
             }

            .img__wrapper {
                height: 100%;
                width: 100%;
            }
        }

        &--bottom {
            @include media('>=md') {
                flex: 0 0 63%;
                max-width: 63%;
                min-height: rem(290);
            }
            .img__wrapper {
                &--mobile {
                    aspect-ratio: 281/171;
                    max-width: 66%;
                }
                &--desktop {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        img {
            @include object-fit-cover;
        }
    }
    &__content {
        flex: 0 0 auto;
        max-width: 66%;
        padding: rem(50) rem(16) rem(43) rem(32);

        @include media('>=md') {
            padding: rem(80) rem(96) rem(51) rem(39);
            width: 63%;
            text-align: right;
        }

    }
    &__title {
        font-family: $font-alt;
        @include font(54, 54, -0.5);
        font-weight: 400;

        &--big {
            @include font(80, 76, -0.5);
            margin: 0 0 rem(-40);

            @include media('>=md') {
                padding-right: rem(42);
            }
        }

        @include media('>=md') {
            @include font(100, 110, -1);
            max-width: 100%;
            width: rem(670);
            margin-left: auto;
        }

        &--upper {
            @include header-upper;
            margin-top: rem(-12);
            margin-bottom: rem(25);
            width: rem(670);
            margin-left: auto;

            @include media('>=md') {
                text-align: left;
            }
        }
    }
}

.scroll_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(9);
    font-family: $font-alt;
    font-weight: 400;
    @include font(30, 43);
    color: $color--dark;
    text-decoration: none;
    margin: rem(46) auto 0;

    @include media('>=md') {
        margin: auto auto rem(31) rem(57);
    }
}

