.btn-menu {
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(36);
	height: rem(36);
	padding: 0;
	margin: rem(16) rem(7) 0 0;;

	@include media('>=md') {
		display: none;
	}

	svg {
		flex: 0 0 auto;
	}

	&__icon {
		color: $color--primary;

		.home & {
			color: $color--light;
		}

		&.btn-menu__close {
			display: none;
		}
	}

	&[aria-expanded="true"] {
		.btn-menu{
			&__icon {
				&.btn-menu__open {
					display: none;
				}

				&.btn-menu__close {
					display: block;
				}
			}
		}
	}
}
