.main-header {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	padding: rem(39) rem(38);

	position: relative;

	.home & {
		transform: translateY(-100%);
		transition: transform 0.3s $trans-func;
	}

	.loaded & {
		transform: translateY(0);
	}

	@include media(">=md") {
		padding: rem(24);
		align-items: flex-end;
	}

	@include media(">=lg") {
		padding: rem(30) rem(50) 0 rem(50);
	}

	@include media(">=1325px") {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
	}

	&__logo {
		flex: 0 0 auto;

		max-width: rem(166);
		padding: rem(15) 0;

		.main-logo {
			color: $color--primary;

			.home & {
				color: $color--light;
			}
		}

		@include media(">=md") {
			max-width: rem(284);
		}

		@include media(">=lg") {
			max-width: rem(200);
		}

		@include media(">=1402px") {
			max-width: rem(284);
		}
	}

	&__nav {
		display: none;

		@include media(">=md") {
			display: block;
			flex: 0 0 auto;

			max-width: calc(100% - 100px);
		}
	}

	&__desktop-nav,
	&__mobile-nav {
		padding: 0;

		z-index: 9;

		text-align: center;

		@include font(18, 20);
	}

	&__mobile-nav {
		.menu {
			display: grid;
			gap: rem(53);
		}
	}

	&__desktop-nav {
		@include media(">=md") {
			transform: translateY(-12px);
		}

		.menu {
			display: flex;
			align-items: center;
			justify-content: space-between;

			li {
				&:not(:last-child) {
					margin-right: rem(32);

					@include media(">=md") {
						margin-right: rem(40);
					}
				}
			}
		}
	}

	&__mobile {
		padding: rem(20) rem(52) rem(20);
		height: 100vh;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		background: $color--primary;

		z-index: 9;

		@include media(">=md") {
			display: none;
		}
	}

	.menu-item {
		display: block;

		position: relative;

		text-align: left;

		@include media(">=md") {
			display: inline-block;
		}

		> a {
			padding: rem(14);

			background-color: $color--dark;
			vertical-align: middle;

			color: $color--light;

			@include font(19, 26, 0.7);
			font-weight: 400;
			text-transform: uppercase;

			display: inline-block;
			transition: background-color linear 0.2s, color linear 0.2s;

			&:hover {
				background-color: $color--light;
				color: $color--dark;
			}

			@include media(">=md") {
				padding: rem(10) rem(12) rem(9) rem(9);
				@include font(14, 20, 0.7);
			}
		}

		& + & {
			@include media(">=md") {
				margin-left: rem(32);
			}
		}

		&__dropdown {
			width: rem(30);
			height: rem(30);
			padding: 0;

			position: relative;
			margin: 0 0 0 rem(5);
			vertical-align: middle;

			border: 0;
			border-radius: 50%;
			background: transparent;
		}

		&__icon {
			display: block;

			width: 0;
			height: 0;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			border-width: rem(8) rem(6) 0 rem(6);
			border-style: solid;
			border-color: currentColor transparent transparent transparent;
		}

		&__submenu {
			.menu-item {
				padding: 0;

				margin: 0 0 rem(10);

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.menu > .menu-item > .menu-item__submenu {
		@include media("<md") {
			padding: rem(20) 0;

			border-top: 1px solid currentColor;
			border-bottom: 1px solid currentColor;
		}

		@include media(">=md") {
			width: auto;
			min-width: 200px;
			padding: rem(10) rem(20);

			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);

			border: 1px solid currentColor;
			background: $color--light;
		}

		.menu-item__submenu {
			padding: rem(10) 0;
		}
	}

	&__lang {
		margin-top: rem(40);

		.wpml-ls {
			padding: 0;

			&-item.wpml-ls-current-language {
				pointer-events: none;
			}

			ul {
				text-align: left;

				a {
					display: inline-block;
					padding: rem(10);
					border: rem(1) solid $color--dark;
				}
			}
		}
	}
}
