@import '__settings/init';

.views {
    background-color: $color--dark;
    padding: rem(60) 0 rem(69);

    &__wrapper {

        &--buttons {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: rem(18);

            @include media('>=md') {
                gap: rem(5);
                padding-inline: rem(19);
            }
        }

        &--button {
            @include media(">=md") {
                flex-basis: 50%;
                max-width: 50%;
                flex-grow: 0;
                display: flex;
                justify-content: center;
            }
        }

        &--maps {
            margin: rem(19) 0 0;
            padding: 0 rem(19);

            @include media('>=md') {
                margin-top: rem(0);
            }

            &-inner {
                position: relative;
                @include aspect-ratio(363, 477);

                @include media('>=md') {
                    @include aspect-ratio(1090, 764);
                }
            }
        }
        &--map {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: none;

            @include media('>=md') {
                display: block;
            }

            &.show--mobile {
                display: block;
            }

            &.views__micro {

                @include media('>=md') {
                    z-index: 1;
                    clip-path: inset(0px 50% 0px 0px);
                }
            }
        }
    }

    &__switcher {
        color: $color--light;
        background-color: transparent;
        border: 1px solid $color--light;
        padding: rem(10);
        font-family: $font-alt;

        @include font(30, 42, 0);

        @include media('>=md') {
            border: 0;
            @include font(47, 68);
            padding: 0;
        }

        &:hover {
            border-color: $color--primary;
            color: $color--primary;
        }

        &.is-active {
            border-color: $color--primary;
            color: $color--primary;
            text-decoration: underline;
        }

    }

    &__map {
        &-container {
            img, svg {
                @include object-fit-cover;
                display: block;
            }

            &--mobile {
                @include media('>=md') {
                    display: none;
                }
            }
            &--desktop {
                display: none;

                @include media('>=md') {
                    display: block;
                }
            }
        }

        &__link {
            z-index: 10;
            position: absolute;
            left: 50%;
            bottom: rem(20);
            cursor: pointer;
            transform: translateX(-50%);

            @include media('>=md') {
                display: none;
            }
        }
    }

    &__macro {

    }
    &__micro {

    }

    &__line {
        display: none;
        z-index: 2;

        @include media('>=md') {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 5px;
            height: 100%;
            background-color: $color--dark;
            cursor: ew-resize;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(70);
            height: rem(70);
            max-width: rem(70);
        }
    }
}