span {
    &.animation {
        display: inline-block;
    }
}

.animation {
    overflow: hidden;
    transition: transform 2500ms cubic-bezier(0.16, 1, 0.3, 1) 0s;
    will-change: trasform;

    &__fade-left {
        transform: translateX(90%);
        opacity: 0;
    }

    &__fade-right {
        transform: translateX(-90%);
        opacity: 0;
    }

    &.is-visible {
        &.animation {
            &__fade-right,
            &__fade-left {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

.animation-container {
    transition: all 2500ms cubic-bezier(0.16, 1, 0.3, 1) 0s;
    will-change: trasform;
}

.fade-up {
    .animation-container {
        display: inline-block;
        transform: translateY(100%);
    }

    &.is-visible {
        .animation-container {
            transform: translateY(0);
        }
    }
}

.fade-right {
    .animation-container {
        transform: translateX(-100%);
    }

    &.is-visible {
        .animation-container {
            transform: translateX(0);
        }
    }
}

.fade-left {
    .animation-container {
        transform: translateX(100%);
    }

    &.is-visible {
        .animation-container {
            transform: translateX(0);
        }
    }
}