:root {
	--transition-timing-function: ease-in-out;

	--transition-speed: .2s;

	@media (prefers-reduced-motion: reduce) {
		--transition-timing-function: linear;

		--transition-speed: 0s;
	}

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	outline: 4px solid $color--primary !important;
}

::selection {
	color: $color--text-light;

	background: $color--secondary;
}

::-moz-selection {
	color: $color--text-light;

	background: $color--secondary;
}

html {
	font-size: 1rem;
	line-height: 1.5;

	-webkit-text-size-adjust: 100%;
}

body {
	font-family: $font-base;
	background-color: $color--light;

	&.home {
		background: $color--primary;
	}

	@include media('>=md') {
		font-size: $font-size-desktop;
		line-height: $line-height-desktop;
	}

	&.using-mouse :focus {
		outline: none !important;
	}

	&.modal-open {
		overflow: hidden;
		height: 100%;
	}
}

a,
button,
input,
select,
textarea {
	&:focus {
		outline: none;

		html.user-tab-nav & {
			outline: $outline;
			outline-offset: 0;
		}
	}
}

.page-content {
	padding-top: rem(75);

	@include media('>=1325px') {
		padding-top: rem(340);
	}

	.home & {
		padding-top: 0;

		@include media('>=1325px') {
			padding-top: rem(145);
		}
	}
}

.page-title {
	font-family: $font-alt;
	@include font(120, 110);
	font-weight: 400;
	color: $color--primary;
}

input,
select,
textarea {
	max-width: 100%;
}

figure {
	margin: 0;
}

img,
svg {
	height: auto;
	max-width: 100%;

	vertical-align: middle;
}

nav {
	ul {
		padding: 0;

		margin: 0;

		list-style: none;
	}

	li {
		display: inline-block;

		>a {
			text-decoration: none;
		}
	}
}

.img__wrapper {
	&--desktop {
		&:not(.img__wrapper--no-mobile) {
			display: none;

			@include media('>=md') {
				display: block;
			}
		}
	}

	&--mobile {
		display: block;

		@include media('>=md') {
			display: none;
		}
	}
}