// Base global styles moved to theme.json

// Headings //
h1,
h2,
h3,
h4,
h5,
h6 {
	&:only-child {
		margin-bottom: 0;
	}
}

h1 {
	@include media('>=md') {
		@include font(49, 73.5)
	}
}

h2 {
	@include media('>=md') {
		@include font(40, 60);
	}
}

// Main Elements //
a {
	img {
		border: 0;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

strong {
	font-weight: bolder;
}

.page-content ul:not([class]),
.acf-block ul:not([class]),
.editor-rich-text ul,
ol {
	ul,
	ol {
		margin: 0;
	}
}

hr {
	box-sizing: content-box;

	height: 0;

	margin-top: rem($margin-mobile);
	margin-bottom: rem($margin-mobile);

	border-top: 1px solid $color--text;

	@include media('>=md') {
		margin-top: rem($margin);
		margin-bottom: rem($margin);
	}
}

@font-face {
    font-family: "RocGrotesk-compressed";
    src: url('../fonts/RocGroteskCompressed/font.woff2') format('woff2'), url('../fonts/RocGroteskCompressed/font.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskRegular/font.woff2') format('woff2'), url('../fonts/RocGroteskRegular/font.woff') format('woff');
	font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskBold/font.woff2') format('woff2'), url('../fonts/RocGroteskBold/font.woff') format('woff');
	font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskExtraBold/font.woff2') format('woff2'), url('../fonts/RocGroteskExtraBold/font.woff') format('woff');
	font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskLight/font.woff2') format('woff2'), url('../fonts/RocGroteskLight/font.woff') format('woff');
	font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskBlack/font.woff2') format('woff2'), url('../fonts/RocGroteskBlack/font.woff') format('woff');
	font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskThin/font.woff2') format('woff2'), url('../fonts/RocGroteskThin/font.woff') format('woff');
	font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskMedium/font.woff2') format('woff2'), url('../fonts/RocGroteskMedium/font.woff') format('woff');
	font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskHeavy/font.woff2') format('woff2'), url('../fonts/RocGroteskHeavy/font.woff') format('woff');
	font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "RocGrotesk";
    src: url('../fonts/RocGroteskExtraLight/font.woff2') format('woff2'), url('../fonts/RocGroteskExtraLight/font.woff') format('woff');
	font-weight: 200;
    font-display: swap;
}