@import '__settings/init';

.points-forts {
    @include media('>=lg') {
        overflow: hidden;
    }
    &__wrapper {
        padding: rem(95) 0 rem(88);
        @include media('>=lg') {
            padding: rem(65) 0 rem(52);
        }

        &--green {
            background-color: $color--secondary;
            color: $color--light;
        }

        &--beige {
            background-color: $color--light;
        }

        &--five {
            padding: rem(70) 0 rem(78);
            @include media('>=lg') {
                padding: rem(75) 0 rem(60);
            }
            .points-forts {
                &__wrapper {
                    &--icon {
                        margin-bottom: rem(22);

                        @include media('>=lg') {
                            margin-bottom: rem(22);
                        }
                    }
                }
                &__title {
                    padding-left: rem(34);
                    margin-bottom: rem(-5);
                    color: $color--primary;

                    @include media('>=lg') {
                        padding-left: rem(24);
                        margin-bottom: rem(-12);
                        
                    }

                    &--upper {
                        padding-left: rem(34);
                        color: $color--dark;
                        margin-bottom: rem(8);

                        @include media('>=lg') {
                            padding-left: rem(24);
                        }
                    }

                    &--tile {
                        padding: 0;
                        color: $color--dark;
                        @include line-height(35, 35);

                        @include media('>=lg') {
                            padding-right: rem(15);
                            @include line-height(47, 41);
                            font-size: rem(27);
                            margin-bottom: 0;
                        }
                    }
                }
                &__text {
                    padding-left: rem(34);
                    padding-right: rem(40);

                    @include media('>=lg') {
                        padding-left: rem(24);

                        max-width: 60%;
                        width: rem(630);
                    }
                }
                &__tiles {
                    gap: rem(55) 0;
                    margin-top: rem(34);

                    @include media('>=lg') {
                        grid-template-columns: repeat(5, 1fr);
                        margin-top: rem(60);
                        gap: 0 rem(10);
                    }

                    
                }
                &__tile {
                    padding-left: rem(40);
                    padding-right: rem(40);

                    &:nth-child(even) {
                        padding-left: rem(40);
                    }

                    @include media('>=lg') {
                        padding: 0;

                        &:first-child {
                            padding-left: rem(24);
                        }
                        &:nth-child(2) {
                            padding-left: rem(0);
                        }
                        &:nth-child(3) {
                            padding-left: rem(22);
                        }
                        &:nth-child(4) {
                            padding-left: 20px;
                            transform: translateX(rem(36));
                        }
                        &:last-child {
                            transform: translateX(rem(34));
                        }
                    }

                    
                }
            }
        }

        &--icon {
            max-width: 100%;
            display: block;
            margin-bottom: rem(35);
            flex: 0 0 auto;
        }
    }

    &__herader {
        @include media('>=xl') {
            width: 100%;
            max-width: $container-xxl;
            margin-left: auto;
            margin-right: auto;
            padding-left: rem($container-padding);
            padding-right: rem($container-padding);
        }
    }
    &__title {
        @include header;
        padding-left: rem(45);
        padding-right: rem(15);

        @include media('>=lg') {
            padding-left: rem(21);
        }

        

        &--upper {
            color: $color--dark;
            text-transform: uppercase;
            font-family: $font-base;
            @include font(14, 20, 0.000001);
            padding-left: rem(45);
            padding-right: rem(15);
            margin-bottom: rem(14);

            @include media('>=lg') {
                padding-left: rem(21);

            }

        }
        &--tile {
            @include font(35, 28, 0.000001);
            padding: 0;
            margin-bottom: rem(7);
            padding: 0;

            @include media('>=xl') {
                @include font(37.8, 50);
                margin-bottom: rem(-4);
            }
        }
    }
    &__text {
        @include paragraph;
        @include line-height(20, 29);
        padding-left: rem(45);
        padding-right: rem(15);

        @include media('>=lg') {
            padding-left: rem(21);
        }

        &--tile {
            @include line-height(14, 20);
            padding-right: rem(15);
            color: $color--dark;

            @include media('>=sm') {
                @include font(14, 20);
            }

            @include media('>=xl') {
                padding-right: 0;
            }

        }
    }
    &__tiles {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: rem(27);
        padding-left: rem($container-padding);
        padding-right: rem($container-padding);
        gap: rem(91) rem(30);

        @include media('>=360px') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media('>=md') {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media('>=lg') {
            grid-template-columns: repeat(4, 1fr);
        }

        @include media('>=xl') {
            width: 100%;
            max-width: $container-xxl;
            margin-left: auto;
            margin-right: auto;
            gap: 0 rem(30);
            padding-right: rem($container-padding);
            padding-left: rem($container-padding);
            margin-top: rem(21);
        }
    }
    &__tile {
        flex: 0 0 auto;
        max-width: 100%;
        padding-left: rem(13);

        &:nth-child(even) {
            padding-left: rem(18);

            @include media('>=xl') {
                padding-left: initial;
            }
        }

        @include media('>=xl') {
            padding-right: rem($container-padding);
            padding-left: rem($container-padding);

            &:first-child {
                padding-left: rem(21);
            }
            &:nth-child(2) {
                padding-left: rem(39);
            }
            &:nth-child(3) {
                padding-left: rem(56);
            }
            &:last-child {
                padding-left: rem(75);
            }
        }
    }

}